{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row" style="height:100px">
</div>
<div class="row">
  <div class="col">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/krv9q66_bKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="col">
    <iframe src="https://app.sli.do/event/xx1samk5" height="315px" width="100%" style="min-height: 315px;"></iframe>
  </div>
</div>
<div class="row" style="height:50px">
</div>
<div class="row" style="height:80px">
  <div class="col-sm-2 text-center align-middle">
    Networking rooms <br/> (Online town)
  </div>
  <div class="col-sm-1 text-center border border-primary" style="height:85px; margin:1px;">
    <a href="https://gather.town/QNdyswk5oLb10p7r/Krakow" target="_blank" rel="noopener noreferrer">
      <p style="height:80px">Kraków</p>
    </a>
  </div>
  <div class="col-sm-1 text-center border border-secondary" style="height:85px; margin:1px;">
    <a href="https://gather.town/149crYU2Kuf8OnNd/Warszawa" target="_blank" rel="noopener noreferrer">
      <p style="height:80px">Warszawa</p>
    </a>
  </div>
  <div class="col-sm-1 text-center border border-success" style="height:85px; margin:1px;">
    <a href="https://gather.town/kOYBxGRIjiFhoVXt/Wroclaw" target="_blank" rel="noopener noreferrer">
      <p style="height:80px">Wrocław</p>
    </a>
  </div>
  <div class="col-sm-1 text-center border border-danger" style="height:85px; margin:1px;">
    <a href="https://gather.town/iGTV4mO3Vmo7rqBi/Poznan" target="_blank" rel="noopener noreferrer">
      <p style="height:80px">Poznań</p>
    </a>
  </div>
  <div class="col-sm-1 text-center border border-primary" style="height:85px; margin:1px;">
    <a href="https://gather.town/btQ4xksKucmiAHF6/Gdansk" target="_blank" rel="noopener noreferrer">
      <p style="height:80px">Gdańsk</p>
    </a>
  </div>
  <div class="col-sm-1 text-center border border-success" style="height:85px; margin:1px;">
    <a href="https://gather.town/Bl4ga8X1SmydKhUd/Lublin" target="_blank" rel="noopener noreferrer">
      <p style="height:80px">Lublin</p>
    </a>
  </div>
  <div class="col-sm-1 text-center border border-danger" style="height:85px; margin:1px;">
    <a href="https://gather.town/CVYzenzJVFyb41Ng/Lodz" target="_blank" rel="noopener noreferrer">
      <p style="height:80px">Łódź</p>
    </a>
  </div>
  <div class="col-sm-1 text-center border border-secondary" style="height:85px; margin:1px;">
    <a href="https://gather.town/XOkhIDbeBnnxOdt5/Zamosc" target="_blank" rel="noopener noreferrer">
      <p style="height:80px">Zamość</p>
    </a>
  </div>
  <div class="col-sm-1 text-center border border-primary" style="height:85px; margin:1px;">
    <a href="https://gather.town/cU0JMxvG5mWvTZgx/Zakopane" target="_blank" rel="noopener noreferrer">
      <p style="height:80px">Zakopane</p>
    </a>
  </div>
</div>
<div class="row-fluid" style="margin-top:30px;">
  <div class="span12 text-center">
    Sponsors
  </div>
</div>
<div class="row" style="height:30px">
</div>
<div class="row" style="height:120px">
  <div class="col-sm-3" >
    <img src="/static/images/sponsors/Deepmind.png" class="img-fluid" >
  </div>
  <div class="col-sm-3">
    <img src="/static/images/sponsors/AllegroTech.png" class="img-fluid" style="padding-top:10%;">
  </div>
  <div class="col-sm-3">
    <img src="/static/images/sponsors/Intel.png" class="img-fluid" style="padding-right:10%; padding-left:20%" >
  </div>
  <div class="col-sm-3">
    <img src="/static/images/sponsors/VisageTechnologies.png" class="img-fluid">
  </div>
</div>

<div class="row" style="height:120px">
   <div class="col-sm-3" >
    <img src="/static/images/sponsors/BRD.png" class="img-fluid" >
  </div>
   <div class="col-sm-3" >
    <img src="/static/images/sponsors/DisplayLink.png" class="img-fluid" >
  </div>
   <div class="col-sm-3" >
    <img src="/static/images/sponsors/Oveit.png" class="img-fluid" >
  </div>
   <div class="col-sm-3" >
    <img src="/static/images/sponsors/Rakuten.png" class="img-fluid" >
  </div>
</div>
<!--{{ readme | markdown }}-->

<!-- Organizers -->
<!--{{ components.section("Organizers") }}-->
<!--{{ components.organizergroup(committee) }}-->

{% endblock %}
