{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;" id="bgImage">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row" style="height:100px">
</div>
<div class="row">
  <div class="col">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/krv9q66_bKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="col">
    <iframe src="https://app.sli.do/event/xx1samk5?section=43999ece-341c-47aa-9030-e94d28037f1c" height="315px" width="100%" style="min-height: 315px;"></iframe>
  </div>
</div>
<div class="row" style="height:50px">
</div>
<!--<div class="row  text-center align-middle">-->
<!--    <div class="col">-->
<!--        <p><b>Get help from a TA</b></p>-->
<!--    </div>-->
<!--</div>-->
<div class="row text-center align-middle border " style="margin-bottom:7%;">
    <div class="col-2" style="margin-top:3%;">
        <p><b>Get help from a TA</b></p>
    </div>
    <div class="col-2" style="margin-top:3%;">
        <a href='https://meet.google.com/vfo-fgtt-fzg' target='blank'>elena.burceanu</a>
    </div>
    <div class="col-2" style="margin-top:3%;">
        <a href='https://meet.google.com/aqa-xbzi-rda' target='blank'>adam.golinski</a>
    </div>
    <div class="col-2" style="margin-top:3%;">
        <a href='https://meet.google.com/pek-tbku-gce' target='blank'>andrei.nicolicioiu</a>
    </div>
    <div class="col-2" style="margin-top:3%;">
        <a href='https://meet.google.com/wjg-qatn-rfo' target='blank'>iulia.duta</a>
    </div>
</div>
<div class="row">
  <div class="col-lg-2 text-center align-middle" style="margin-bottom:2%;">
    Networking rooms <br/> (Online town)
  </div>
 <div class="col-md-1 text-center"  style="margin-bottom:2%;">
   <a href="https://gather.town/QNdyswk5oLb10p7r/Krakow" target="_blank" rel="noopener noreferrer">
    <img src="/static/images/chat-rooms/dragon-ball.png" class="img-fluid" style="max-height:200px;" />
     <p class="text-center">Kraków</p>
   </a>
 </div>
  <div class="col-md-1 text-center"  style="margin-bottom:2%;">
   <a href="https://gather.town/149crYU2Kuf8OnNd/Warszawa" target="_blank" rel="noopener noreferrer">
    <img src="/static/images/chat-rooms/mermaid.png" class="img-fluid" style="max-height:200px;" />
     <p class="text-center">Warszawa</p>
   </a>
 </div>
  <div class="col-md-1 text-center"  style="margin-bottom:2%;">
   <a href="https://gather.town/kOYBxGRIjiFhoVXt/Wroclaw" target="_blank" rel="noopener noreferrer">
    <img src="/static/images/chat-rooms/dwarf.png" class="img-fluid" style="max-height:200px;" />
     <p class="text-center">Wrocław</p>
   </a>
 </div>
 <div class="col-md-1 text-center"  style="margin-bottom:2%;">
   <a href="https://gather.town/iGTV4mO3Vmo7rqBi/Poznan" target="_blank" rel="noopener noreferrer">
    <img src="/static/images/chat-rooms/goat.png" class="img-fluid" style="max-height:200px;" />
     <p class="text-center">Poznań</p>
   </a>
 </div>
  <div class="col-md-1 text-center"  style="margin-bottom:2%;">
   <a href="https://gather.town/btQ4xksKucmiAHF6/Gdansk" target="_blank" rel="noopener noreferrer">
    <img src="/static/images/chat-rooms/trident.png" class="img-fluid" style="max-height:200px;" />
     <p class="text-center">Gdańsk</p>
   </a>
 </div>
  <div class="col-md-1 text-center"  style="margin-bottom:2%;">
   <a href="https://gather.town/Bl4ga8X1SmydKhUd/Lublin" target="_blank" rel="noopener noreferrer">
    <img src="/static/images/chat-rooms/juggler.png" class="img-fluid" style="max-height:200px;" />
     <p class="text-center">Lublin</p>
   </a>
 </div>
  <div class="col-md-1 text-center"  style="margin-bottom:2%;">
   <a href="https://gather.town/CVYzenzJVFyb41Ng/Lodz" target="_blank" rel="noopener noreferrer">
    <img src="/static/images/chat-rooms/factory.png" class="img-fluid" style="max-height:200px;" />
     <p class="text-center">Łódź</p>
   </a>
 </div>
  <div class="col-md-1 text-center"  style="margin-bottom:2%;">
   <a href="https://gather.town/XOkhIDbeBnnxOdt5/Zamosc" target="_blank" rel="noopener noreferrer">
    <img src="/static/images/chat-rooms/pearl.png" class="img-fluid" style="max-height:200px;" />
     <p class="text-center">Zamość</p>
   </a>
 </div>
  <div class="col-md-1 text-center"  style="margin-bottom:2%;">
   <a href="https://gather.town/cU0JMxvG5mWvTZgx/Zakopane" target="_blank" rel="noopener noreferrer">
    <img src="/static/images/chat-rooms/mountain.png" class="img-fluid" style="max-height:200px;" />
     <p class="text-center">Zakopane</p>
   </a>
 </div>
</div>
<div class="row" style="margin-top:30px;">
  <div class="col">
    <div class="span12 text-center">
    <b>Diamond Sponsors</b>
  </div>
  </div>
</div>

<div class="row" style="height:30px">
</div>
<div class="row" style="height:15%;margin:3%;">
  <div class="col-sm-3" >
    <a href="/sponsor_1.html"><img src="/static/images/sponsors/Deepmind.png" class="img-fluid" style="width:100%; height:auto;" ></a>
  </div>
  <div class="col-sm-3">
    <a href="/sponsor_2.html"><img src="/static/images/sponsors/AllegroTech.png" class="img-fluid" style="padding-top:10%;"></a>
  </div>
  <div class="col-sm-3">
    <a href="/sponsor_3.html"><img src="/static/images/sponsors/Intel.png" class="img-fluid" style="padding-right:10%; padding-left:20%; padding-top:5%;" ></a>
  </div>
  <div class="col-sm-3">
    <a href="/sponsor_4.html"><img src="/static/images/sponsors/VisageTechnologies.png" class="img-fluid"></a>
  </div>
</div>

<div class="row" style="margin-top:30px;">
  <div class="col">
    <div class="span12 text-center">
    <b>Gold Sponsors</b>
  </div>
  </div>
</div>
<div class="row" style="height:15%; margin:3%">
   <div class="col-sm-3" >
    <a href="/sponsor_5.html"><img src="/static/images/sponsors/BRD.png" class="img-fluid" ></a>
  </div>
   <div class="col-sm-3" >
    <a href="/sponsor_6.html"><img src="/static/images/sponsors/DisplayLink.png" class="img-fluid" style="padding-top:5%;" ></a>
  </div>
   <div class="col-sm-3" >
    <a href="/sponsor_7.html"><img src="/static/images/sponsors/Oveit.png" class="img-fluid" ></a>
  </div>
   <div class="col-sm-3" >
    <a href="/sponsor_8.html"><img src="/static/images/sponsors/Rakuten.png" class="img-fluid" style="padding-top:5%;"></a>
  </div>
</div>

<div class="row" style="margin-top:20%">
 <div class="col text-center align-middle" style="margin-bottom:2%;">
    Networking room icons made by
   <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a>,
   <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>,
   <a href="https://www.flaticon.com/free-icon/unicycle_2138986?term=circus&page=8&position=28" title="photo3idea_studio">photo3idea_studio</a> and
   <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
   from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </div>
</div>
<script type="text/javascript">
    $( document ).ready(function() {
        numberOfImages = 9;
        imageId = Math.floor(Math.random() * (numberOfImages))+1
        bgImageUrl = 'static/images/background/'+imageId+'.jpg';
        $('#bgImage').css('background-image', 'url(' + bgImageUrl + ')');
    });
    </script>
{% endblock %}
