{% set active_page = "PosterSessions" %}
{% set page_title = "PosterSessions" %}
{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col text-center" style="margin-top:110px; margin-bottom:20px;">
    <span class="align-middle h3">Wednesday, July 1st</span>
  </div>
</div>

<div class="row" >
  <div class="col-4 text-center">
    <span class="align-middle">Session 1a</span>
    <iframe width="375" height="230" src="https://www.youtube.com/embed/videoseries?list=TLGGdNd5R5tGsQMwMzA3MjAyMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="/papers.html?session=1a&filter=keywords" target="_blank">
      <span class="align-middle">Papers 1a</span>
    </a>
  </div>
  <div class="col-4 text-center">
    <span class="align-middle">Session 1b</span>
    <iframe width="375" height="230" src="https://www.youtube.com/embed/videoseries?list=TLGGmVyPDqRFW-wwMzA3MjAyMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="/papers.html?session=1b&filter=keywords" target="_blank">
      <span class="align-middle">Papers 1b</span>
    </a>
  </div>
  <div class="col-4 text-center">
    <span class="align-middle">Session 1c</span>
    <iframe width="375" height="230" src="https://www.youtube.com/embed/videoseries?list=TLGGbI4h8VPkT5YwMzA3MjAyMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="/papers.html?session=1c&filter=keywords" target="_blank">
      <span class="align-middle">Papers 1c</span>
    </a>
  </div>
</div>

<div class="row">
  <div class="col text-center" style="margin-top:110px; margin-bottom:20px;">
    <span class="align-middle h3">Thursday, July 2nd</span>
  </div>
</div>

<div class="row" >
  <div class="col-4 text-center">
    <span class="align-middle">Session 2a</span>
    <iframe width="375" height="230" src="https://www.youtube.com/embed/videoseries?list=TLGGhSFe0sksINswMzA3MjAyMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="/papers.html?session=2a&filter=keywords" target="_blank">
      <span class="align-middle">Papers 2a</span>
    </a>
  </div>
  <div class="col-4 text-center">
    <span class="align-middle">Session 2b</span>
    <iframe width="375" height="230" src="https://www.youtube.com/embed/videoseries?list=TLGGt9jCWKn80JkwMzA3MjAyMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="/papers.html?session=2b&filter=keywords" target="_blank">
      <span class="align-middle">Papers 2b</span>
    </a>
  </div>
  <div class="col-4 text-center">
    <span class="align-middle">Session 2c</span>
    <iframe width="375" height="230" src="https://www.youtube.com/embed/videoseries?list=TLGG4T45pa1e27QwMzA3MjAyMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="/papers.html?session=2c&filter=keywords" target="_blank">
      <span class="align-middle">Papers 2c</span>
    </a>
  </div>
</div>

<div class="row">
  <div class="col text-center" style="margin-top:110px; margin-bottom:20px;">
    <span class="align-middle h3">Friday, July 3rd</span>
  </div>
</div>

<div class="row" >
  <div class="col-4 text-center">
    <span class="align-middle">Session 3a</span>
    <iframe width="375" height="230" src="https://www.youtube.com/embed/videoseries?list=TLGGr8gOi0JkXA0wMzA3MjAyMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="/papers.html?session=3a&filter=keywords" target="_blank">
      <span class="align-middle">Papers 3a</span>
    </a>
  </div>
  <div class="col-4 text-center">
    <span class="align-middle">Session 3b</span>
    <iframe width="375" height="230" src="https://www.youtube.com/embed/videoseries?list=TLGGtKjg53hU3A0wMzA3MjAyMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="/papers.html?session=3b&filter=keywords" target="_blank">
      <span class="align-middle">Papers 3b</span>
    </a>
  </div>
  <div class="col-4 text-center">
    <span class="align-middle">Session 3c</span>
    <iframe width="375" height="230" src="https://www.youtube.com/embed/videoseries?list=TLGGNJ1teArAs_swMzA3MjAyMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="/papers.html?session=3c&filter=keywords" target="_blank">
      <span class="align-middle">Papers 3c</span>
    </a>
  </div>
</div>
{% endblock %}
