{% set active_page = "PosterSessions" %}
{% set page_title = "PosterSessions" %}
{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col text-center" style="margin-top:30px; margin-bottom:30px;">
    <span class="align-middle">Session 1</span>
  </div>
</div>

<div class="row" >
  <div class="col-4">
    <iframe width="375" height="230" src="https://www.youtube.com/embed/krv9q66_bKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-4">
    <iframe width="375" height="230" src="https://www.youtube.com/embed/krv9q66_bKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-4">
    <iframe width="375" height="230" src="https://www.youtube.com/embed/krv9q66_bKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="col text-center" style="margin-top:30px; margin-bottom:30px;">
    <span class="align-middle">Session 2</span>
  </div>
</div>

<div class="row" >
  <div class="col-4">
    <iframe width="375" height="230" src="https://www.youtube.com/embed/krv9q66_bKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-4">
    <iframe width="375" height="230" src="https://www.youtube.com/embed/krv9q66_bKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-4">
    <iframe width="375" height="230" src="https://www.youtube.com/embed/krv9q66_bKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="col text-center" style="margin-top:30px; margin-bottom:30px;">
    <span class="align-middle">Session 3</span>
  </div>
</div>

<div class="row" >
  <div class="col-4">
    <iframe width="375" height="230" src="https://www.youtube.com/embed/krv9q66_bKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-4">
    <iframe width="375" height="230" src="https://www.youtube.com/embed/krv9q66_bKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-4">
    <iframe width="375" height="230" src="https://www.youtube.com/embed/krv9q66_bKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
{% endblock %}
