{% set active_page = "Schedule" %}
{% set page_title = "Schedule" %}
{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include 'cal_head.html' %}

{% endblock %}

{% block tabs %}
{{ components.tabs([("calendar", "Calendar", "active"), ("day1", "Wednesday", ""), ("day2", "Thursday", ""), ("day3", "Friday", ""), ("day4", "Saturday", ""), ("day5", "Sunday", ""), ("day6", "Monday", ""), ("day7", "Tuesday", ""), ("day8", "Wednesday", ""), ("day9", "Thursday", "")]) }}
{% endblock %}

{% block content %}
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <!-- Calender tab -->
  <div
    class="tab-pane active"
    id="tab-calendar"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div class="form-group col">
      <label for="tzOptions">Timezone:</label>
      <select id="tzOptions" class="selectpicker" data-live-search="true">
      </select>
    </div>
    <div style="margin-left:auto" class="text-right col">
       <a href="https://test-virtual.eeml.eu/static/virtualEEML2020.ics" class="text-muted ">Download Calendar</a>
    </div>
    <!-- full cal for browser-->
    <div id="calendar" class="d-none d-sm-block"></div>

    <!-- small cal for smart phones-->
    <div id="calendar_small" class="d-sm-none"></div>

    <script type="text/javascript">
      make_cal("serve_main_calendar.json");
    </script>

  </div>
  <!-- Day Tab -->

  <div
    class="tab-pane fade"
    id="tab-day1"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="day1">
      <!-- Speakers -->
      {{ components.section("Speakers") }}
      <div class="speakers">
        {{ components.speakergroup(day1.speakers) }}
      </div>
    </div>

   <script type="text/javascript">
      lazyLoader();
    </script> 
  </div>
  
  <div
    class="tab-pane fade"
    id="tab-day2"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="day2">
      <!-- Speakers -->
      {{ components.section("Speakers") }}
      <div class="speakers">
        {{ components.speakergroup(day2.speakers) }}
      </div>
    </div>

    <script type="text/javascript">
      lazyLoader();
    </script> 
  </div>
  
  <div
    class="tab-pane fade"
    id="tab-day3"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="day3">
      <!-- Speakers -->
      {{ components.section("Speakers") }}
      <div class="speakers">
        {{ components.speakergroup(day3.speakers) }}
      </div>
    </div>

    <script type="text/javascript">
      lazyLoader();
    </script>
  </div>
  
  <div
    class="tab-pane fade"
    id="tab-day4"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="day4">
      <p><a href="">Yoga session intermediate/advanced</a></p>
    </div>

    <script type="text/javascript">
      lazyLoader();
    </script>
  </div>
  
  <div
    class="tab-pane fade"
    id="tab-day5"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="day5">
      <p><a href="">Yoga session intermediate/advanced</a></p>
      <p><a href="">Yoga session beginners (1)</a></p>
      <p><a href="">Yoga session beginners (2)</a></p>
      <p><a href="">Chess tournament</a></p>
    </div>

    <script type="text/javascript">
      lazyLoader();
    </script>
  </div>
  
  <div
    class="tab-pane fade"
    id="tab-day6"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="day6">
      <!-- Speakers -->
      {{ components.section("Speakers") }}
      <div class="speakers">
        {{ components.speakergroup(day6.speakers) }}
      </div>
    </div>

     <script type="text/javascript">
      lazyLoader();
    </script>
  </div>
  
  <div
    class="tab-pane fade"
    id="tab-day7"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="day7">
      <!-- Speakers -->
      {{ components.section("Speakers") }}
      <div class="speakers">
        {{ components.speakergroup(day7.speakers) }}
      </div>
    </div>

    <script type="text/javascript">
      lazyLoader();
    </script>
  </div>
  
  <div
    class="tab-pane fade"
    id="tab-day8"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="day8">
      <!-- Speakers -->
      {{ components.section("Speakers") }}
      <div class="speakers">
        {{ components.speakergroup(day8.speakers) }}
      </div>
    </div>

    <script type="text/javascript">
      lazyLoader();
    </script>
  </div>
  
  <div
    class="tab-pane fade"
    id="tab-day9"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="day9">
      <!-- Speakers -->
      {{ components.section("Speakers") }}
      <div class="speakers">
        {{ components.speakergroup(day9.speakers) }}
      </div>
    </div>

    <script type="text/javascript">
      lazyLoader();
    </script>
  </div>

</div>
<script type="text/javascript">
  $('.tab-calendar').on('click', function (e) {
    e.preventDefault()
    make_cal("serve_main_calendar.json")
  })
</script>

{% endblock %}
