{% set active_page = "Slido" %}
{% set page_title = "Slido" %}
{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col text-center" style="margin-top:80px; margin-bottom:20px;">
    <span class="align-middle h3">Fireside sessions</span>
  </div>
</div>
<div class="row">
 <div class="col">
    <iframe src="https://app.sli.do/event/xx1samk5?section=71504821-34fc-4833-9bcc-8706e5afd86a" height="550px" width="100%" style="min-height: 315px;"></iframe>
 </div>
 <div class="col">
    <iframe src="https://app.sli.do/event/xx1samk5?section=c3d0b3b3-f386-48d3-892e-0e8b621efd86" height="550px" width="100%" style="min-height: 315px;"></iframe>
 </div>
 <div class="col">
    <iframe src="https://app.sli.do/event/xx1samk5?section=ad64cdda-3bed-454d-b9dd-eb5653355516" height="550px" width="100%" style="min-height: 315px;"></iframe>
 </div>
</div>

<div class="row">
  <div class="col text-center" style="margin-top:110px; margin-bottom:20px;">
    <span class="align-middle h3">Panels</span>
  </div>
</div>
<div class="row">
 <div class="col">
    <iframe src="https://app.sli.do/event/xx1samk5?section=6802890c-225f-4dd4-8215-ffaeb3e23d88" height="550px" width="100%" style="min-height: 315px;"></iframe>
 </div>
 <div class="col">
    <iframe src="https://app.sli.do/event/xx1samk5?section=943041d7-c3a6-4561-998a-eeeb7371150d" height="550px" width="100%" style="min-height: 315px;"></iframe>
 </div>
</div>


{% endblock %}
