{% set page_title = sponsor.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{sponsor.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{ sponsor.organizers | join(", ") }}
    </h3>
  </div>
</div>
<div id="details" class="pp-card m-3">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Description:</span>
        {{sponsor.abstract|safe}} <br /><br />
      </div>
    </div>
    <div align="center">
      <iframe width="560" height="315" src="{{ sponsor.videoUrl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p></p>
  </div>
</div>

<!-- Presentation Embed -->

{% endblock %}
